@media screen and (min-width: 480px) {
	#logo {
	width: 30%;
	margin: 0 35%;
}


#footer ul li {
	display: inline;
	margin-bottom: -25px;
}

#right {
	margin-right: -150px;
}


#click {
	width: 50%;
	text-align: center;
}

.btn {
	width:100px;
	padding: 5px;
	font-size: 1em;
	background-color: #f2f2f2;
}

.button1 {
	height: 40px;
}



}

